<p>Hello <%= @owner.full_name %>,</p>
<p>You've Received an comment to your idea!</p>
<p>Idea title: <%= @idea.title %></p>
<p>Comment: <%= @comment.body %></p>
<p>Regards,</p>
<p>Idea Machine Team</p>